.top-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  padding: 10px 20px;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex: 1;
}

.nav-auth-links {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 8px;
  color: white;
  text-decoration: none;
  transition: transform 0.3s;
  position: relative;
}

.nav-link:hover {
  transform: translateY(-2px);
}

.cart-count {
  background-color: orange;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
  position: absolute;
  top: -8px;
  right: -8px;
}

.favorites-count {
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
  position: absolute;
  top: -1.2rem;
  right: -8px;
}

.dropdown-menu {
  position: absolute;
  right: 0;
  top: 40px;
  background-color: white;
  color: black;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.dropdown-menu li {
  padding: 10px;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background-color: #f0f0f0;
}

.md\\:hidden {
  display: none;
}

@media (max-width: 768px) {
  .top-nav {
    flex-direction: column;
    align-items: center;
  }
  .nav-links {
    flex-direction: column;
    align-items: flex-start; /* Menempatkan item di kiri untuk mobile */
    width: 100%;
  }
  .nav-auth-links {
    flex-direction: column;
    align-items: flex-start; /* Menempatkan item di kiri untuk mobile */
    width: 100%;
  }
  .nav-link {
    margin: 8px 0;
  }
  .cart-count {
    top: 4px;
    right: 0px;
    transform: translate(50%, -50%);
  }

  .favorites-count {
    top: -8px;
    right: 0px;
    transform: translate(50%, -50%);
  }
  
  .grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}